@model AMS.Models.AssetIssueViewModel.AssetIssueCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr>
                <th>Identificador Unico</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>@Model.AssetDisplay</td>
            </tr>
            <tr>
                <th>Raised By Employee</th>
                <td>@Model.RaisedByEmployeeDisplay</td>
            </tr>
            <tr>
                <th>Issue Description</th>
                <td>@Model.IssueDescription</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <th>Fecha estimada de reparacion</th>
                <td>@Model.ExpectedFixDate</td>
            </tr>
            <tr>
                <th>Fecha Estimada de resolucion</th>
                <td>@Model.ResolvedDate</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>@Model.Comment</td>
            </tr>
            <tr>
                <th>Fecha de Creacion</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Fecha de Modificacion</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modificado por</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
