@model AMS.Models.AssetCategorieViewModel.AssetCategorieCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr>
                <th>Identificador Unico</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Nombre SMI</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>Fecha de Creacion</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>Fecha de Modificacion</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>Creado por </th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>Modificador por</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
