@model AMS.Models.AssetViewModel.AssetCRUDViewModel

<h5>Numero Serie: @Model.Id, Nombre SMI: @Model.Name</h5>
<table class="CustomBlueTable">
    <thead>
        <tr>
            <th>Identificador Unico</th>
            <th>Persona Responsable</th>
            <th>Action</th>
            <th>Nota</th>
            <th>Fecha de Creacion</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var item in Model.listAssetHistoryCRUDViewModel)
            {
<tr>
    <td>@item.Id</td>
    <td>@item.AssignEmployeeDisplay</td>
    <td>@item.Action</td>
    <td>@item.Note</td>
    <td>@String.Format("{0:f}", item.CreatedDate)</td>
</tr>
 } }
    </tbody>
</table>


