@model AMS.Models.AssetViewModel.AssetCRUDViewModel


<table class="CustomBlueTable" style="width:100%;" border="1">
    <tr><th>Identificador Unico</th><td>@Model.Id</td></tr>
    <tr><th>Numero Serie</th><td>@Model.AssetId</td></tr>
    <tr>
        <th>Codigo de barras</th>
        <td>
            <img src="@Model.Barcode" alt="" />
        </td>
    </tr>
    <tr><th>Modelo</th><td>@Model.AssetModelNo</td></tr>
    <tr><th>Nombre SMI</th><td>@Model.Name</td></tr>
	<tr><th>Estatus</th><td>@Model.AssetStatusDisplay</td></tr>
    <tr><th>Descripcion</th><td>@Model.Description</td></tr>
    <tr><th>Categoria</th><td>@Model.CategoryDisplay</td></tr>
    <tr><th>Sub Categoria</th><td>@Model.SubCategoryDisplay</td></tr>
    <tr><th>Cantidad</th><td>@Model.Quantity</td></tr>
    <tr><th>Ubicacion</th><td>@Model.Location</td></tr>
    <tr><th>Departamento</th><td>@Model.DepartmentDisplay</td></tr>
    <tr><th>Sub Departamento</th><td>@Model.SubDepartmentDisplay</td></tr>
    <tr><th>Tipo de compra</th><td>@Model.WarranetyInMonth</td></tr>
    <tr><th>Ultima Revision</th><td>@Model.DepreciationInMonth</td></tr>
    <tr>
        <th>Image</th>
        <td>
            <div class="user-panel mt-2 pb-2 mb-2 d-flex">
                <div class="image">
                    <img src="@Model.ImageURL" class="img-circle elevation-2" alt="Asset Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" onclick="ViewImage('@Model.ImageURL', '@Model.Name')">
                        @Model.Name
                    </a>
                </div>
            </div>
        </td>
    </tr>
 
    <tr><th>Fecha de llegada</th><td>@Model.DateOfManufacture</td></tr>
    <tr><th>Identificador de la Persona responsable</th><td>@Model.AssignEmployeeId</td></tr>   
    <tr><th>Disponibilidad</th><td>@Model.IsAvilable</td></tr>
    <tr><th>Notas</th><td>@Model.Note</td></tr>
    <tr><th>Fecha de Creacion</th><td>@Model.CreatedDate</td></tr>
    <tr><th>Fecha de Modificacion</th><td>@Model.ModifiedDate</td></tr>
    <tr><th>Creado Por</th><td>@Model.CreatedBy</td></tr>
    <tr><th>Modificado Por</th><td>@Model.ModifiedBy</td></tr>
</table>


