@model AMS.Models.EmployeeViewModel.EmployeeCRUDViewModel

<table class="CustomBlueTable">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>Employee Id</th><td>@Model.EmployeeId</td></tr>
    <tr><th>First Name</th><td>@Model.FirstName</td></tr>
    <tr><th>Last Name</th><td>@Model.LastName</td></tr>
    <tr><th>Date Of Birth</th><td>@Model.DateOfBirth</td></tr>
    <tr><th>Designation</th><td>@Model.DesignationDisplay</td></tr>
    <tr><th>Department</th><td>@Model.DepartmentDisplay</td></tr>
    @*<tr><th>Sub Department</th><td>@Model.SubDepartmentDisplay</td></tr>*@
    <tr><th>Joining Date</th><td>@Model.JoiningDate</td></tr>
    <tr><th>Leaving Date</th><td>@Model.LeavingDate</td></tr>
    <tr><th>Phone</th><td>@Model.Phone</td></tr>
    <tr><th>Email</th><td>@Model.Email</td></tr>
    <tr><th>Address</th><td>@Model.Address</td></tr>
    <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
    <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
    <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
    <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
</table>

